* {
  margin: 0;
  padding: 0;
}

.home{
  height: 100vh;
  width: 100vw;
  background: red;
}

.about {

  height: 100vh;
  width: 100vw;
  background: #fff;


}
.service {
  height: 100vh;
  width: 100vw;
  background: yellow;
}
.contact {
  height: 100vh;
  width: 100vw;
  background: greenyellow;
}